<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SSSP 留言板</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}">
    <script type="text/javascript" src="${pageContext.request.contextPath }/scripts/jquery-1.9.1.min.js"
            th:src="@{/webjars/jquery/1.9.1/jquery.js}"></script>
    <script type="text/javascript">
        $(function () {
            $(".delete").click(function () {
                var lable = $(this).next(":hidden").val();
                var flag = confirm("确定要删除" + lable + "的信息吗？");
                if (flag) {
                    var url = $(this).attr("href");
                    $("#_form").attr("action", url);
                    $("#_method").val("DELETE");
                    $("#_form").submit();
                }
                return false;
            });
        })
    </script>
</head>
<body>

<form action="" method="POST" id="_form">
    <input type="hidden" id="_method" name="_method"/>
</form>

<div class="container" style="margin-top:20px;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AWE 留言本</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="articles">首页 <span class="sr-only">(current)</span></a></li>
                    <li><a href="article">发布留言</a></li>

                </ul>

            </div>
        </div>
    </nav>

    <table class="table">
        <tr>
            <td>编号</td>
            <td>标题</td>
            <td>内容</td>
            <td>评论数</td>
            <td>发布日期</td>
            <td>操作</td>
        </tr>
        <tr th:each="article : ${articles}">
            <td th:text="${article.id}">id</td>
            <td th:text="${article.title}"><a href="#">title</a></td>
            <td th:text="${article.content}">neirong</td>
            <td th:text="${article.getCommentSet().size()}">ss</td>
            <td th:text="${article.getCreateTime()}">riqi</td>
            <td>
                <a href="#" class="btn btn-primary">修改</a>
                <a href="#" class="btn btn-danger delete">删除</a>
            </td>
        </tr>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="disabled" th:class="${articles.isFirst()}?'disabled':''">
                <a href="javascript:void(0);"
                   th:href="${articles.isFirst()}?'javascript:void(0);': @{'/hello?pageNo='+${articles.number + 1 - 1}}"
                   aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li th:each="nav : ${#numbers.sequence(0,articles.getTotalPages()-1)}"
                th:class="${articles.number eq nav}? 'active' : ''"><a
                    th:href="@{'/hello?pageNo='+${nav+1}}"
                    th:text="${nav+1}"></a></li>

            <li class="disabled" th:class="${articles.isLast()}?'disabled':''">
                <a href="javascript:void(0);"
                   th:href="${articles.isLast()}?'javascript:void(0);': @{'/hello?pageNo='+${articles.number + 1 + 1}}"
                   aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="well">
        用SSSP开发的一款留言本
    </div>
</div>
</body>
</html>